<script lang="ts">
import { onMounted } from "vue";
import { useStore } from "vuex";

export default {
  name: "TestComponent",
  setup() {
    const store = useStore<any>();

    onMounted(() => {
      //   store.dispatch("onSetYear", new Date().getFullYear());
    });
  },
};
</script>

<template>
  <Header />
  <router-view />
</template>
