<template>
  <TodoMain />
  <TestComponent />
</template>

<script>
import { ref, computed } from "vue";
import { provide, reactive, readonly } from "vue";

import TodoMain from "./components/TodoMain.vue";
import TestComponent from "./components/TestComponent";
import { useTodoService } from "./services/todoService";

export default {
  components: { TodoMain, TestComponent },
  setup() {
    provide("todoService", readonly(useTodoService()));
  },
};
</script>

<style scoped>
img {
  width: 200px;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
}
</style>
